.tileListRoot {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 0.5rem;
}

.tile {
	flex: 1;
	border: 1px solid #eee;
	font-weight: bold;

	text-align: center;

	line-height: 1;
	gap: 0;

	padding: 0.25rem 0;
}

.icon img {
	width: 2.4rem;
}

.label {
	font-size: 1rem;
	opacity: 0.7;
}

.value {
	font-size: 1.3rem;
	line-height: 1.2rem;
	font-weight: bold;
}

.subValue {
	font-size: 0.9rem;
	opacity: 0.9;
}

.subWrap {
	> * + * {
		border-left: 1px solid #777;
		margin-left: 0.25rem;
		padding-left: 0.25rem;
	}
}
