.ticker {
	display: flex;
	flex-flow: row nowrap;
	gap: 0.5rem;

	font-size: 1rem;
}

.metaInfo {
	position: absolute;
	right: 0.25rem;
	bottom: 0;

	justify-content: flex-end;
	align-items: center;
	opacity: 0.75;
}
