.root {
	display: flex;
	flex-flow: row nowrap;

	align-items: center;
	gap: 1rem;
}

.conditionIcon img {
	width: 8rem;
}

.itemsWrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;

	width: 100%;
}

.item {
	display: flex;
	flex-flow: column;

	font-weight: bold;

	border: 1px solid #eee;
	padding: 0.25rem;
}

.label {
	line-height: 1.2;
	font-size: 1rem;
	opacity: 0.7;
}

.value {
	// Ensure content is always at the bottom right,
	// regardless of size of other cells in the row
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

	gap: 0.2rem;

	position: relative;

	font-size: 4.5rem;
	line-height: 0.9;
}

.unit {
	font-size: 1.5rem;
	opacity: 0.7;

	margin-bottom: 0.1em;

	&Sup {
		transform: translateY(-0.7em);
	}
}

// Sizing overrides
.itemSecondary {
	.value {
		font-size: 3.5rem;
	}
}
